<div class="my-6">
  <%= turbo_frame_tag "spots-list" do %>
    <div class="flex flex-col">
      <% if @spots.present? %>
        <%= render @spots %>
      <% else %>
        <div class="mb-3"><%= t(".none_spot") %></div>
      <% end %>
    </div>

    <div class="flex justify-center my-4">
      <%= paginate @spots %>
    </div>
  <% end %>
</div>
