<div class="flex flex-wrap flex-grow">
  <%= search_form_for @q, url: url, class: "flex w-full", data: { turbo: false } do |form| %>
    <%= form.select :tag_eq, Spot.tags_i18n.invert.map{|key, value| [key, Spot.tags[value]]}, { include_blank: t("defaults.search_spot_tag") }, class: "flex-auto text-gray-700 rounded-md border border-gray-300 outline-none px-3 py-2 mr-1" %>
    <%= form.search_field :artist_name_cont, class: "flex-auto rounded-md border border-gray-300 outline-none px-3 py-2", placeholder: t("defaults.search_artist_name") %>
    <%= form.submit t("defaults.search"), class: "btn-secondary ml-2" %>
  <% end %>
</div>
