<div class="container mx-auto px-36 min-h-screen">
  <div class="mb-4">
    <h1 class="text-xl font-bold mb-2"><%= t("defaults.bookmarks_index") %></h1>
    <hr>
  </div>

  <div class="flex flex-col">
    <% if @bookmark_spots.present? %>
      <%= render @bookmark_spots %>
    <% else %>
      <div class="mb-3"><%= t(".none_bookmark") %></div>
    <% end %>
  </div>
</div>
