<% content_for(:title, t("defaults.spot_create")) %>
<div class="container mx-auto px-8 xl:px-28">
  <div class="mb-8">
    <h1 class="text-xl font-bold mb-2"><%= t("defaults.spot_create") %></h1>
    <hr>
  </div>

  <%= render "form",  artist_spot: @artist_spot %>

</div>
