<header class="text-neutral-50 bg-yellow-400 font-medium">
  <div class="flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to "Music Map", root_path, class: "flex items-center text-3xl text-neutral-50 mb-4 md:mb-0" %>
    <nav class="md:ml-auto flex flex-wrap items-center text-xl justify-center">
      <%= link_to "聖地一覧", "#", class: "mr-5" %>
      <%= link_to "マップ投稿検索", "#", class: "mr-5" %>
      <%= link_to "ログイン", login_path %>
    </nav>
  </div>
</header>
