<footer class="text-neutral-50 bg-yellow-400">
  <div class="p-6 flex-col md:flex-row items-center">
    <nav class="md:ml-auto flex justify-center items-center text-lg">
      <%= link_to "プライバシーポリシー", "#", class: "mr-24 hover:underline" %>
      <%= link_to "利用規約", "#", class: "hover:underline" %>
    </nav>
  </div>
</footer>
