<footer class="text-neutral-50 bg-yellow-400">
  <div class="p-6 flex-col md:flex-row items-center">
    <nav class="md:ml-auto flex justify-center items-center text-lg">
      <%= link_to t("defaults.privacy_policy"), "#", class: "mr-24 link-primary" %>
      <%= link_to t("defaults.terms_of_service"), "#", class: "link-primary" %>
    </nav>
  </div>
</footer>
