<div role="tablist" class="tabs tabs-bordered mb-2">
  <a role="tab" id="list-tab" class="tab"><%= t("defaults.display_list") %></a>
  <a role="tab" id="map-tab" class="tab"><%= t("defaults.display_map") %></a>
</div>
