<div class="container mx-auto px-36">
  <div class="mb-4">
    <h1 class="text-xl font-bold mb-2">投稿一覧</h1>
    <hr>
  </div>

  <div class="flex flex-col">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <div class="mb-3">投稿がありません</div>
    <% end %>
  </div>
</div>
